html {
  font-size: 100px; }

html,
body {
  padding: 0;
  margin: 0;
  height: 100%; }

.app {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .app header {
    background-color: #1bb28b;
    font-size: 0.18864rem;
    text-align: center;
    line-height: 0.45rem;
    color: #fff; }
  .app main {
    flex: 1; }
  .app nav {
    height: 0.45rem;
    background-color: #f6f6f6; }
