html {
  font-size: 26.667vw; // 相对单位: vw
  // 视图的宽度 375px === 100vw
  // 1vw === 3.75px
  // 1px === 26.667vw
}
body {
  font-size: 0.14rem;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

nav,
ul,
h2,
p,
li {
  padding: 0;
  margin: 0;
}
