.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  header {
    background-color: #1bb28b;
    font-size: 0.18864rem;
    text-align: center;
    line-height: 0.45rem;
    color: #fff;
  }

  main {
    flex: 1; // 剩余空间全部给 main
    overflow: hidden;
    .swiper-container{
      height: 100%;
    }
  }

  nav {
    height: 0.45rem;
    background-color: #f6f6f6;
    font-size: 0.14rem;
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      // align-items: center;
      li {
        flex: 1;
        text-align: center;
        line-height: 0.45rem;
        color: #c3cfcc;
        font-size: 0.16rem;
        height: 0.45rem;
        i {
          font-size: 0.2rem;
        }
        &.active {
          background-color: #e8f3f0;
          color: #1bb28b;
        }
      }
    }
  }

  #loading {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    // background-color: #f79;
    img {
      width: 0.4rem;
    }
  }
}

/* @font-face {
  font-family: "iconfont";
  src: url("iconfont.eot");
  src: url("iconfont.eot?#iefix") format("embedded-opentype"),
    url("iconfont.woff2") format("woff2"), url("iconfont.woff") format("woff"),
    url("iconfont.ttf") format("truetype"),
    url("iconfont.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 0.18rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 */
