@mixin border_1px($color) {
  position: relative;
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
    &::before {
      @include before_content($color, 0.666);
    }
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    &::before {
      @include before_content($color, 0.5);
    }
  }

  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    &::before {
      @include before_content($color, 0.333);
    }
  }
}

@mixin before_content($color, $scaleY) {
  content: "";
  display: block;
  background-color: $color;
  height: 1px;
  width: 100%;
  position: absolute;
  transform: scaleY($scaleY); // 缩放
  left: 0;
  top: 0;
}
